<!DOCTYPE html>
<html lang="en" class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>Smart Tap</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600"
      rel="stylesheet"
    />

    <!-- BEGIN: Vendor CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/vendors/css/vendors.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/vendors/css/forms/spinner/jquery.bootstrap-touchspin.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/vendors/css/extensions/swiper.min.css"
    />
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/bootstrap-extended.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/colors.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/components.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/themes/dark-layout.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/themes/semi-dark-layout.css"
    />

    <!-- BEGIN: Page CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/core/menu/menu-types/vertical-menu.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/core/colors/palette-gradient.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/pages/authentication.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/pages/dashboard-analytics.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/pages/card-analytics.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>app-assets/css/plugins/tour/tour.css"
    />
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>assets/css/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>assets/css/wizard.css"
    />
    <!-- END: Custom CSS-->
  </head>
  <body
    class="vertical-layout 2-columns navbar-floating footer-static vertical-overlay-menu pace-done menu-hide"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="2-columns"
  >
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- BEGIN: Vendor JS-->
    <script src="<%= BASE_URL %>app-assets/vendors/js/vendors.min.js"></script>
    <script src="<%= BASE_URL %>app-assets/vendors/js/extensions/swiper.min.js"></script>
    <!-- <script src="<%= BASE_URL %>app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js"></script>
    <script src="<%= BASE_URL %>app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
    <script src="<%= BASE_URL %>app-assets/vendors/js/forms/select/select2.full.min.js"></script> -->
    <script src="<%= BASE_URL %>app-assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="<%= BASE_URL %>app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->

    <script src="<%= BASE_URL %>app-assets/js/core/app-menu.js"></script>
    <script src="<%= BASE_URL %>app-assets/js/core/app.js"></script>
    <script src="<%= BASE_URL %>app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <script src="<%= BASE_URL %>app-assets/js/scripts/forms/select/form-select2.js"></script>
  </body>
</html>
