<template>
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="col-12">
              <h2 class="content-header-title float-left mb-0">
                Account Settings
              </h2>
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <router-link to="/dashboard">Home</router-link>
                  </li>
                  <li class="breadcrumb-item active">Account Settings</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- account setting page start -->
        <section id="page-account-settings">
          <div class="row">
            <!-- left menu section -->
            <div class="col-md-3 mb-2 mb-md-0">
              <ul class="nav nav-pills flex-column mt-md-0 mt-1">
                <li class="nav-item">
                  <a
                    class="nav-link d-flex py-75 active"
                    id="account-pill-general"
                    data-toggle="pill"
                    href="#account-vertical-general"
                    aria-expanded="true"
                  >
                    <i class="feather icon-globe mr-50 font-medium-3"></i>
                    General
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link d-flex py-75"
                    id="account-pill-password"
                    data-toggle="pill"
                    href="#account-vertical-password"
                    aria-expanded="false"
                  >
                    <i class="feather icon-lock mr-50 font-medium-3"></i>
                    Change Password
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link d-flex py-75"
                    id="account-pill-plan"
                    data-toggle="pill"
                    href="#account-vertical-plan"
                    aria-expanded="false"
                  >
                    <i class="feather icon-info mr-50 font-medium-3"></i>
                    Change Plan
                  </a>
                </li>
              </ul>
            </div>
            <!-- right content section -->
            <div class="col-md-9">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="tab-content">
                      <div
                        role="tabpanel"
                        class="tab-pane active"
                        id="account-vertical-general"
                        aria-labelledby="account-pill-general"
                        aria-expanded="true"
                      >
                        <UploadLogo />
                        <hr />

                        <GeneralInfo />
                      </div>

                      <div
                        class="tab-pane fade "
                        id="account-vertical-password"
                        role="tabpanel"
                        aria-labelledby="account-pill-password"
                        aria-expanded="false"
                      >
                        <ChangePassword />
                      </div>

                      <div
                        class="tab-pane fade "
                        id="account-vertical-plan"
                        role="tabpanel"
                        aria-labelledby="account-pill-plan"
                        aria-expanded="false"
                      >
                        <change-plan></change-plan>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- account setting page end -->
      </div>
    </div>
  </div>
</template>

<script>
  import ChangePassword from '@/components/dashboard.vue/ChangePassword.vue';
  import GeneralInfo from '@/components/dashboard.vue/GeneralInfo.vue';
  import UploadLogo from '@/components/dashboard.vue/UploadLogo.vue';
  import ChangePlan from '@/components/dashboard.vue/ChangePlan.vue';

  export default {
    components: {
      ChangePassword,
      GeneralInfo,
      UploadLogo,
      ChangePlan,
    },
    mounted() {
      this.getCompanyDetails();
    },
  };
</script>

<style></style>
