<template>
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <!-- users list start -->
        <section class="users-list-wrapper">
          <!-- users filter start -->
          <div class="card" v-if="!active">
            <div class="card-header">
              <h4 class="card-title">Filters</h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body">
                <div class="users-list-filter">
                  <form>
                    <div class="row">
                      <div class="col-12 col-sm-6 col-lg-3">
                        <label for="users-list-role">Search</label>
                        <fieldset class="form-group">
                          <div
                            class="ag-grid-btns d-flex justify-content-between flex-wrap mb-1"
                          >
                            <input
                              type="search"
                              v-model="filters.search"
                              class="form-control w-100"
                              id="filter-text-box"
                              placeholder="Search...."
                            />
                          </div>
                        </fieldset>
                      </div>
                      <div class="col-12 col-sm-6 col-lg-3">
                        <label for="users-list-status">Status</label>
                        <fieldset class="form-group">
                          <select
                            class="form-control"
                            v-model="filters.status"
                            id="users-list-status"
                          >
                            <option :value="2">All</option>
                            <option :value="1">Active</option>
                            <option :value="0">Inactive</option>
                          </select>
                        </fieldset>
                      </div>
                      <!-- <div class="col-12 col-sm-6 col-lg-3">
                        <label for="users-list-verified">Verified</label>
                        <fieldset class="form-group">
                          <select class="form-control" id="users-list-verified">
                            <option value="">All</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                          </select>
                        </fieldset>
                      </div>
                      <div class="col-12 col-sm-6 col-lg-3">
                        <label for="users-list-department">Department</label>
                        <fieldset class="form-group">
                          <select
                            class="form-control"
                            id="users-list-department"
                          >
                            <option value="">All</option>
                            <option value="Sales">Sales</option>
                            <option value="Devlopment">Devlopment</option>
                            <option value="Management">Management</option>
                          </select>
                        </fieldset>
                      </div> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- users filter end -->
          <!-- Ag Grid users list section start -->
          <div id="basic-examples">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex justify-content-between">
                        <div></div>
                        <fieldset class="form-group">
                          <div class="text-right">
                            <input
                              type="search"
                              v-model="filters.search"
                              class="form-control w-100"
                              id="filter-text-box"
                              placeholder="Search...."
                            />
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>

                  <div class="table-responsive">
                    <table
                      class="table nowrap scroll-horizontal-vertical users"
                    >
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>Name</th>
                          <th>Phone Number</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody v-if="filteredUsers.length">
                        <tr v-for="(user, i) in filteredUsers" :key="i">
                          <td class="text-center">{{ i + 1 }}</td>
                          <td>
                            <router-link :to="`/user/${user.id}`">{{
                              user.name
                            }}</router-link>
                          </td>
                          <td>{{ user.phone_number }}</td>
                          <td>
                            <div
                              class="chip"
                              :class="
                                user.at_location
                                  ? 'chip-success'
                                  : 'chip-danger'
                              "
                            >
                              <div class="chip-body">
                                <div class="chip-text">
                                  {{ user.at_location ? 'active' : 'inactive' }}
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tbody v-else>
                        <tr>
                          <td colspan="4" class=" text-center">
                            {{
                              users.length
                                ? 'There is no match for this user'
                                : 'No one has registered under your organization yet'
                            }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Ag Grid users list section end -->
        </section>
        <!-- users list ends -->
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        users: [],
        filters: {
          status: 2,
          search: '',
        },
        active: false,
      };
    },
    computed: {
      filteredUsers() {
        const search = this.filters.search.toLowerCase();
        const status = this.filters.status;
        return this.users
          .filter(
            (key) =>
              key.name.toLowerCase().includes(search) ||
              key.phone_number.includes(search)
          )
          .filter((key) => {
            if (status == 2) return key.at_location || !key.at_location;
            else return key.at_location === Boolean(status);
          });
      },
    },
    methods: {
      async getAllUsers() {
        this.$store.commit('set', {
          loader: true,
        });

        try {
          const res = await this.$axios({
            url: '/users',
            headers: {
              Authorization: `Bearer ${this.company.access_token}`,
            },
          });

          this.users = res.data.data;

          this.$store.commit('set', {
            loader: false,
          });
        } catch (err) {
          this.catchErrors(err);
        }
      },
      onPageLoad() {
        this.getAllUsers();
        const { type } = this.$route.query;
        if (type) {
          this.active = true;
          this.filters.status = 1;
        }
      },
    },
    created() {
      this.onPageLoad();
    },
    watch: {
      $route: 'onPageLoad',
    },
  };
</script>

<style>
  .users {
    overflow-y: scroll;
    max-height: 500px;
  }
</style>
