<template>
  <footer
    style="position: relative;"
    :class="
      `footer footer-static footer-light ${
        $route.name !== 'UserDashboard' ? 'bottom' : ''
      }`
    "
  >
    <p class="clearfix blue-grey lighten-2 mb-0 stay">
      <span class="float-md-left d-block d-md-inline-block mt-25">
        COPYRIGHT &copy; 2020
        <span class="text-bold-800 grey darken-2">SmartTap</span> | All rights
        Reserved
      </span>
      <button class="btn btn-primary btn-icon scroll-top" type="button">
        <i class="feather icon-arrow-up"></i>
      </button>
    </p>
  </footer>
</template>

<script>
  export default {};
</script>

<style scoped>
  footer.footer {
    padding: 0 2.2rem;
  }
  .stay {
    position: sticky;
    bottom: 20px;
  }
  .bottom {
    position: absolute;
    bottom: 15px;
  }
</style>
