<template>
  <nav
    class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow"
  >
    <div class="navbar-wrapper">
      <div class="navbar-container content">
        <div class="navbar-collapse" id="navbar-mobile">
          <div
            class="mr-auto float-left bookmark-wrapper d-flex align-items-center"
          >
            <ul class="nav navbar-nav">
              <li class="nav-item mobile-menu d-xl-none mr-auto">
                <a class="nav-link nav-menu-main menu-toggle" href="#">
                  <i class="ficon feather icon-menu"></i>
                </a>
              </li>
            </ul>
          </div>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-user nav-item">
              <a
                class="dropdown-toggle nav-link dropdown-user-link img-menu"
                href="#"
                data-toggle="dropdown"
              >
                <div class="user-nav d-sm-flex">
                  <span
                    class="user-name text-bold-600 text-dark"
                    style="text-transform: capitalize"
                    >{{ companyData.name }}</span
                  >
                </div>
                <span>
                  <img
                    class="round"
                    v-if="company.logo"
                    :src="company.logo"
                    alt="avatar"
                    height="40"
                    width="40"
                  />
                  <img
                    v-else
                    class="round"
                    :src="`${'/img/user.svg'}`"
                    alt="avatar"
                    height="40"
                    width="40"
                  />
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <router-link class="dropdown-item" to="/company/account">
                  <i class="feather icon-user"></i> Edit Profile
                </router-link>
                <a class="dropdown-item">
                  <i class="feather icon-credit-card"></i> Deposit
                </a>
                <a class="dropdown-item">
                  <i class="feather icon-bell"></i> Notifications
                </a>
                <!-- <a class="dropdown-item" href="app-todo.html"
                  ><i class="feather icon-check-square"></i> Task</a
                ><a class="dropdown-item" href="app-chat.html"
                  ><i class="feather icon-message-square"></i> Chats</a
                >-->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="Javascript:void" @click="logout">
                  <i class="feather icon-power"></i> Logout
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    props: ['companyData'],
    mounted() {
      // this.runScripts('/app-assets/js/core/app-menu.js');
    },
  };
</script>

<style scoped>
  .img-menu {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  @media (min-width: 768px) {
    .img-menu {
      top: -30px;
    }
  }
</style>
