<template>
  <ul class="main-search-list-defaultlist-other-list d-none">
    <li
      class="auto-suggestion d-flex align-items-center justify-content-between cursor-pointer"
    >
      <a class="d-flex align-items-center justify-content-between w-100 py-50">
        <div class="d-flex justify-content-start">
          <span class="mr-75 feather icon-alert-circle"></span
          ><span>No results found.</span>
        </div>
      </a>
    </li>
  </ul>
</template>

<script>
export default {};
</script>

<style></style>
