<template>
  <div
    class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
    data-scroll-to-active="true"
  >
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto">
          <router-link to="/dashboard" class="navbar-brand">
            <img :src="logo" class="pax-naira-logo" />
          </router-link>
        </li>
        <li class="nav-item nav-toggle">
          <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
            <i
              class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"
            ></i>
            <i
              class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
              data-icon="icon-disc"
            ></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
      <ul
        class="navigation navigation-main"
        id="main-menu-navigation"
        data-menu="menu-navigation"
      >
        <li class="nav-item">
          <router-link to="/dashboard">
            <i class="feather icon-home"></i>
            <span class="menu-title" data-i18n="Dashboard">Dashboard</span>
            <!-- <span class="badge badge badge-warning badge-pill float-right mr-2">2</span> -->
          </router-link>
        </li>

        <li class="navigation-header">
          <span>Users</span>
        </li>
        <li class="nav-item">
          <router-link to="/users">
            <i class="feather icon-users"></i>
            <span class="menu-title" data-i18n="Receive Bitcoin"
              >All Users</span
            >
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/users?type=active">
            <i class="feather icon-user-check"></i>
            <span class="menu-title" data-i18n="Send Bitcoin"
              >Active Users</span
            >
          </router-link>
        </li>

        <!-- <li class="navigation-header">
          <span>Trade</span>
        </li>-->

        <li class="navigation-header">
          <span>&nbsp;</span>
        </li>

        <li class="nav-item">
          <router-link to="/notifications">
            <i class="feather icon-bell"></i>
            <span class="menu-title" data-i18n="Account">Notifications</span>
          </router-link>
        </li>

        <li class="nav-item">
          <a href="#!">
            <i class="fa fa-credit-card-alt"></i>
            <span class="menu-title" data-i18n="Subscribe">Subscribe</span>
          </a>
        </li>

        <li class="nav-item">
          <router-link to="/company/account">
            <i class="feather icon-settings"></i>
            <span class="menu-title" data-i18n="Account Settings"
              >Account Settings</span
            >
          </router-link>
        </li>

        <li class="navigation-header">
          <span>&nbsp;</span>
        </li>
        <li class="nav-item">
          <a href="Javascript:void" @click="logout">
            <i class="feather icon-power"></i>
            <span class="menu-title" data-i18n="Logout">Logout</span>
            <!-- <span class="badge badge badge-warning badge-pill float-right mr-2"
              >2</span
            >-->
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    mounted() {
      // this.runScripts('/app-assets/js/core/app-menu.js');
    },
  };
</script>

<style scoped>
  .wallet {
    padding: 0 !important;
    color: #999999 !important;
    line-height: 1.5;
    letter-spacing: 0.01rem;
  }

  .main-menu.menu-light .navigation > li.active > a.wallet {
    padding: 10px 15px 10px 15px !important;
    color: #fff !important;
    position: relative;
    right: 15px;
  }
</style>
