<template>
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <section id="dashboard-analytics">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="card bg-analytics text-white">
                <div class="card-content">
                  <div class="card-body text-center">
                    <img
                      src="/app-assets/images/elements/decore-left.png"
                      class="img-left"
                      alt="card-img-left"
                    />
                    <img
                      src="/app-assets/images/elements/decore-right.png"
                      class="img-right"
                      alt="card-img-right"
                    />
                    <div class="avatar avatar-xl bg-primary shadow mt-0 mb-2">
                      <div class="avatar-content">
                        <i class="feather icon-award white font-large-1"></i>
                      </div>
                    </div>
                    <div class="text-center">
                      <h1
                        class="mb-25 text-white"
                        style="text-transform: capitalize"
                      >
                        Welcome
                      </h1>
                      <p class="m-auto w-75">
                        Enjoy easy visitors' management with
                        <strong>SmartTap</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <div class="card">
                <div
                  class="card-header d-flex flex-column align-items-start pb-0"
                >
                  <div class="avatar bg-rgba-primary p-50 m-0">
                    <div class="avatar-content">
                      <i
                        class="feather icon-users text-primary font-medium-5"
                      ></i>
                    </div>
                  </div>
                  <h2 class="text-bold-700 mt-1 mb-25">926</h2>
                  <p class="mb-3">Total Users</p>
                </div>
                <div class="card-content">
                  <div id="subscribe-gain-chart"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="card">
                <div
                  class="card-header d-flex flex-column align-items-start pb-0"
                >
                  <div class="avatar bg-rgba-warning p-50 m-0">
                    <div class="avatar-content">
                      <i
                        class="feather icon-package text-warning font-medium-5"
                      ></i>
                    </div>
                  </div>
                  <h2 class="text-bold-700 mt-1 mb-25">1,275</h2>
                  <p class="mb-3">Total Use</p>
                </div>
                <div class="card-content">
                  <div id="orders-received-chart"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="card">
                <div
                  class="card-header d-flex justify-content-between align-items-start"
                >
                  <div>
                    <h4 class="card-title">QR Code</h4>
                  </div>
                  <p class="mb-0">
                    <i
                      class="feather icon-more-vertical font-medium-3 text-muted cursor-pointer"
                    ></i>
                  </p>
                </div>
                <div class="card-content">
                  <div
                    class="card-body px-0"
                    style="position: relative; text-align: center;padding:20px !important"
                  >
                    <div class="fund">
                      <qrcode
                        :value="companyToken"
                        id="qrCode"
                        tag="img"
                        :options="{ width: 250, height: 250 }"
                      ></qrcode>
                      <br />
                      <div
                        class="mt-n7 mb-2 badge badge-primary show-tooltip"
                        id="shown-tooltip"
                      >
                        <a href="javascript:void(0)" type="button">
                          <i class="feather icon-link"></i>
                          <span id="companyToken"
                            >&nbsp; {{ companyToken }}</span
                          >
                        </a>
                      </div>

                      <button class="btn btn-outline-primary" @click="download">
                        <i class="feather icon-download"></i>
                        Download
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="card">
                <div
                  class="card-header d-flex justify-content-between align-items-start"
                >
                  <h4 class="card-title">Profile</h4>
                </div>
                <div class="card-content">
                  <div class="card-body pb-0" style="position: relative;">
                    <div class="text-center mb-3">
                      <img
                        height="125px"
                        :src="company.logo"
                        v-if="company.logo"
                      />
                      <img height="125px" src="/img/user.svg" v-else />
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                      <p>Name</p>
                      <h6 class=" text-capitalize">
                        {{ company.company_name }}
                      </h6>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                      <p>State</p>
                      <h6 class=" text-capitalize">{{ company.state }}</h6>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                      <p>LGA</p>
                      <h6 class=" text-capitalize">{{ company.lga }}</h6>
                    </div>

                    <div class="text-center mb-1">
                      <router-link
                        to="/company/account"
                        class="btn btn-primary"
                      >
                        Edit
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Activity Timeline</h4>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <ul class="activity-timeline timeline-left list-unstyled">
                      <li>
                        <div class="timeline-icon bg-primary">
                          <i
                            class="feather icon-plus font-medium-2 align-middle"
                          ></i>
                        </div>
                        <div class="timeline-info">
                          <p class="font-weight-bold mb-0">
                            New user registered
                          </p>
                          <span class="font-small-3"
                            >A Blue Toyota Luxury Car</span
                          >
                        </div>
                        <small class="text-muted">5 mins ago</small>
                      </li>
                      <li>
                        <div class="timeline-icon bg-warning">
                          <i
                            class="feather icon-alert-circle font-medium-2 align-middle"
                          ></i>
                        </div>
                        <div class="timeline-info">
                          <p class="font-weight-bold mb-0">
                            Blocking Vehicle Alert
                          </p>
                          <span class="font-small-3"
                            >A vehicle with Plate Number <b>KJA123AB</b></span
                          >
                        </div>
                        <small class="text-muted">15 mins ago</small>
                      </li>
                      <li>
                        <div class="timeline-icon bg-danger">
                          <i
                            class="feather icon-check font-medium-2 align-middle"
                          ></i>
                        </div>
                        <div class="timeline-info">
                          <p class="font-weight-bold mb-0">User just exited</p>
                          <span class="font-small-3">A Tesla Sports Car</span>
                        </div>
                        <small class="text-muted">20 mins ago</small>
                      </li>
                      <li class="mb-0">
                        <div class="timeline-icon bg-success">
                          <i
                            class="feather icon-check font-medium-2 align-middle"
                          ></i>
                        </div>
                        <div class="timeline-info">
                          <p class="font-weight-bold mb-0">
                            A user just signed in
                          </p>
                          <span class="font-small-3"
                            >John Doe, with a Toyota Camry
                          </span>
                        </div>
                        <small class="text-muted">25 mins ago</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Dashboard Ecommerce ends -->
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import VueQrcode from '@chenfengyuan/vue-qrcode';
  Vue.component(VueQrcode.name, VueQrcode);

  export default {
    data() {
      return {
        currency: 'N',
        stock: '',
      };
    },
    computed: {
      companyToken() {
        return `http://smart-tap.netlify.app?token=${this.company.token || ''}`;
      },
    },
    methods: {
      download() {
        const link = document.createElement('a');
        let img = $('#qrCode').attr('src');
        link.setAttribute('href', img);
        link.setAttribute('download', `company-code.png`);
        link.click();
      },
    },
    mounted() {
      $('.show-tooltip').tooltip({
        title: 'Click to copy',
        trigger: 'hover',
        placement: 'top',
      });

      $('#shown-tooltip')
        .tooltip({
          title: 'Copied to clipboard',
          trigger: 'click',
          placement: 'top',
        })
        .on('shown.bs.tooltip', function() {
          // alert('Shown event fired.');
          const link = document
            .querySelector('#companyToken')
            .textContent.trim();

          if (!navigator.clipboard) return;

          navigator.clipboard.writeText(link).then(
            function() {
              console.log('copied');
            },
            function(err) {
              console.error('Async: Could not copy text: ', err);
            }
          );
        });
    },
  };
</script>

<style></style>
