<template>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card overlay-img-card text-white">
        <img
          src="@/assets/img/pages/rocket.png"
          class="card-img"
          alt="card-img-6"
        />
        <div
          class="card-img-overlay overlay-black d-flex flex-column justify-content-between"
        >
          <h5 class="card-title text-white">Basic</h5>
          <div class="card-content">
            <ul class="pl-1">
              <li>Notify drivers of blocking cars</li>
              <li>N15,000 per month</li>
              <li>Manage Users</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card overlay-img-card text-white">
        <img
          src="@/assets/img/pages/rocket.png"
          class="card-img"
          alt="card-img-6"
        />
        <div
          class="card-img-overlay overlay-black d-flex flex-column justify-content-between"
        >
          <h5 class="card-title text-white">Premium</h5>
          <div class="card-content">
            <ul class="pl-1">
              <li>All features in Basic Plan</li>
              <li>N25,000 per month</li>
              <li>Send SMS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {};
</script>

<style>
  .card.overlay-img-card {
    margin-bottom: 2.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .overlay-img-card .card-img-overlay,
  .overlay-img-card img {
    max-height: 34.64rem;
  }

  .overlay-black {
    background: #000000;
    background: rgba(0, 0, 0, 0.6);
  }

  .card-img {
    width: 100%;
    border-radius: calc(0.5rem - 1px);
  }

  .card .card-img-overlay {
    border-radius: 0.25rem;
  }
</style>
