<template>
  <form novalidate @submit.prevent="validateSubmit(auth)">
    <Alert
      :alert="alertDetails"
      v-if="showAlert"
      :key="componentKey"
      @dismiss-alert="showAlert = false"
    />

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <div class="controls">
            <label for="account-old-password">Old Password</label>
            <input
              type="password"
              :disabled="loader"
              class="form-control"
              id="account-old-password"
              required
              v-model="auth.old_password"
              placeholder="Old Password"
              data-validation-required-message="This old password field is required"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <div class="controls">
            <label for="account-new-password">New Password</label>
            <input
              type="password"
              name="password"
              v-model="auth.new_password"
              :disabled="loader"
              id="account-new-password"
              class="form-control"
              placeholder="New Password"
              required
              data-validation-required-message="The password field is required"
              minlength="6"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <div class="controls">
            <label for="account-retype-new-password">Retype New Password</label>
            <input
              type="password"
              name="con-password"
              class="form-control"
              required
              v-model="auth.confirm_password"
              :disabled="loader"
              id="account-retype-new-password"
              data-validation-match-match="password"
              placeholder="New Password"
              data-validation-required-message="The Confirm password field is required"
              minlength="6"
            />
          </div>
        </div>
      </div>
      <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
        <button
          type="submit"
          @click.prevent="validateSubmit(auth)"
          class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
        >
          Save changes
        </button>
        <button type="reset" class="btn btn-outline-warning">
          Cancel
        </button>
      </div>
    </div>
  </form>
</template>

<script>
  export default {
    data: () => ({
      auth: {},
    }),
    methods: {
      validateSubmit(user) {
        const { validatePassword, showError } = this;

        const message = !Object.values(user).length
          ? 'Fill in all the required fields'
          : !user.old_password || !validatePassword(user.old_password)
          ? 'Current password must be alphanumeric and have at least 8 characters!'
          : !user.new_password || !validatePassword(user.new_password)
          ? 'New password must be alphanumeric and have at least 8 characters!'
          : !user.confirm_password ||
            user.new_password !== user.confirm_password
          ? 'Please confirm your new password!'
          : '';

        // if (message.length) return showError("", message);
        if (message.length) {
          this.componentKey += 1;
          this.alertDetails = {
            type: 'danger',
            message,
          };
          return (this.showAlert = true);
        }

        this.showAlert = false;

        this.changePassword(this.turnToLower(user));
      },
      async changePassword(data) {
        this.$store.commit('set', {
          loader: true,
          loadingText: 'Changing Password...',
        });

        try {
          const res = await this.$axios({
            url: `/change-password`,
            method: 'post',
            data,
            headers: {
              Authorization: `Bearer ${this.company.access_token}`,
            },
          });

          this.$store.commit('set', { loader: false, loadingText: '' });
          this.$toastr.s('Password Changed!', 'Success');
          this.auth = {};
        } catch (err) {
          this.catchErrors(err);
        }
      },
    },
  };
</script>
<style></style>
