<template>
  <form class="mt-3" novalidate @submit.prevent="validateSubmit">
    <Alert
      :alert="alertDetails"
      v-if="showAlert"
      :key="componentKey"
      @dismiss-alert="showAlert = false"
    />

    <div class="row">
      <div class="col-12">
        <fieldset
          class="form-label-group form-group position-relative has-icon-left"
        >
          <input
            type="text"
            class="form-control text-capitalize"
            :disabled="loading"
            placeholder="Name of Organization"
            id="company_name"
            v-model="companyData.company_name"
            required
          />
          <div class="form-control-position">
            <i class="feather icon-user"></i>
          </div>
          <label for="company_name">Name of Organization</label>
        </fieldset>
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-6">
            <fieldset
              class="form-label-group form-group position-relative has-icon-left"
            >
              <input
                type="text"
                class="form-control"
                :disabled="loading"
                placeholder="Latitude"
                id="latitude"
                v-model="companyData.latitude"
                required
              />
              <div
                class="form-control-position cursor-pointer"
                @click="getUserLocation"
              >
                <i class="feather icon-map-pin"></i>
              </div>
              <label for="latitude">Latitude</label>
            </fieldset>
          </div>

          <div class="col-12 col-lg-6">
            <fieldset
              class="form-label-group form-group position-relative has-icon-left"
            >
              <input
                type="text"
                class="form-control"
                :disabled="loading"
                placeholder="Longitude"
                id="longitude"
                v-model="companyData.longitude"
                required
              />
              <div
                class="form-control-position cursor-pointer"
                @click="getUserLocation"
              >
                <i class="feather icon-map-pin"></i>
              </div>
              <label for="longitude">Longitude</label>
            </fieldset>
          </div>
        </div>

        <p class="text-danger mt-n1">
          Click
          <i
            class="feather icon-map-pin text-primary cursor-pointer"
            @click="getUserLocation"
          ></i>
          to autofill the latitude and longitude fields with your present
          location!
        </p>
      </div>

      <div class="col-6">
        <fieldset class="form-label-group">
          <select
            class="custom-select"
            id="customSelect"
            v-model="companyData.state"
            @change="companyData.lga = null"
          >
            <option v-for="state in states" :key="state">{{ state }}</option>
          </select>
          <label for="label-textarea">State</label>
        </fieldset>
      </div>

      <div class="col-6">
        <fieldset class="form-label-group">
          <select
            class="custom-select"
            id="customSelect"
            v-model="companyData.lga"
          >
            <option v-for="lga in lgas" :key="lga">{{ lga }}</option>
          </select>
          <label for="label-textarea">LGA</label>
        </fieldset>
      </div>

      <div class="col-12">
        <fieldset class="form-label-group">
          <textarea
            class="form-control"
            id="label-textarea"
            rows="3"
            :disabled="loading"
            v-model="companyData.description"
            placeholder="Description of Organization"
          ></textarea>
          <label for="label-textarea">Description of Organization</label>
        </fieldset>
      </div>

      <div class="col-12">
        <fieldset class="form-label-group">
          <textarea
            class="form-control"
            id="label-textarea"
            rows="3"
            :disabled="loading"
            v-model="companyData.address"
            placeholder="Business Address"
          ></textarea>
          <label for="label-textarea">Business Address</label>
        </fieldset>
      </div>
      <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
        <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">
          Save changes
        </button>
        <button type="reset" class="btn btn-outline-warning">
          Cancel
        </button>
      </div>
    </div>
  </form>
</template>

<script>
  import statesAndLGAs from '@/assets/states.json';
  const states = statesAndLGAs.map((key) => key.state);

  export default {
    data() {
      return {
        companyData: {},
        loading: false,
        states,
      };
    },
    computed: {
      lgas() {
        if (!this.companyData.state) return [];
        return statesAndLGAs.find((key) => key.state === this.companyData.state)
          .lgas;
      },
    },
    methods: {
      getUserLocation() {
        if (window.navigator.geolocation) {
          // Geolocation available
          this.$store.commit('set', {
            loader: true,
            loadingText: 'Retrieving your location...',
          });

          navigator.geolocation.getCurrentPosition((position) => {
            const { latitude, longitude } = position.coords;
            this.companyData = {
              ...this.companyData,
              latitude,
              longitude,
            };

            this.$store.commit('set', {
              loader: false,
            });
          });
        } else
          this.$toastr.i(
            'Enable your geolocation so your location can be gotten automatically!',
            'Location Services Not Enabled'
          );
      },
      validateSubmit() {
        const {
          latitude,
          longitude,
          company_name,
          state,
          lga,
          address,
          description,
        } = this.companyData;

        const payload = {
          state,
          lga,
          latitude,
          longitude,
          company_name,
          address,
          description,
        };

        const message = !Object.values(payload).length
          ? 'Fill in all the required fields'
          : !company_name || company_name.length < 6
          ? 'Name of the Organization must have at least 6 characters'
          : this.validateNumbers(latitude) || this.validateNumbers(longitude)
          ? 'Please enter valid numeric values'
          : !state
          ? 'Please select the state your organization is based'
          : !lga
          ? 'Please select a local government area'
          : !address || address.length < 6
          ? 'Please enter the full address'
          : !description || description.length < 6
          ? 'Please enter the description'
          : '';

        if (message.length) {
          this.componentKey += 1;
          this.alertDetails = {
            type: 'danger',
            message,
          };
          return (this.showAlert = true);
        }

        this.showAlert = false;

        this.updateProfile(payload);
      },
      async updateProfile(data) {
        this.$store.commit('set', {
          loader: true,
          loadingText: 'Updating Profile...',
        });

        try {
          const res = await this.$axios({
            url: `/profile`,
            method: 'put',
            data,
            headers: {
              Authorization: `Bearer ${this.company.access_token}`,
            },
          });

          this.$store.commit('set', { loader: false, loadingText: '' });
          this.$toastr.s('Profile Updated!', 'Success');
        } catch (err) {
          console.log(err);
          this.catchErrors(err);
        }
      },
    },
    mounted() {
      const {
        address,
        company_name,
        description,
        latitude,
        longitude,
        state,
      } = this.$store.state.company;
      this.companyData = {
        address,
        company_name,
        description,
        latitude,
        longitude,
        state,
      };
    },
  };
</script>

<style></style>
