<template>
  <div class="media">
    <a href="javascript: void(0);">
      <img
        v-if="user_img"
        :src="user_img"
        class="rounded mr-75"
        alt="profile image"
        height="64"
        width="64"
      />
      <img
        v-else
        src="@/assets/img/user.png"
        class="rounded mr-75"
        alt="profile image"
        height="64"
        width="64"
      />
    </a>
    <div class="media-body mt-75">
      <div
        class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start"
      >
        <label
          class="btn btn-sm btn-primary ml-50 mb-50 mb-sm-0 cursor-pointer"
          for="account-upload"
          >Upload Logo</label
        >
        <input type="file" id="account-upload" @change="imgChange" hidden />
        <button class="btn btn-sm btn-outline-warning ml-50">
          Reset
        </button>
      </div>
      <p class="text-muted ml-75 mt-50">
        <small>Allowed JPG, GIF or PNG. Max size of 800kB</small>
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        user_img: '',
      };
    },
    methods: {
      imgChange(event) {
        const file = event.target.files[0];
        if (!file) return;
        const validType = this.beforeUpload(file);
        if (!validType) return;
        this.user_img = URL.createObjectURL(file); // convert to base64 string
        this.uploadLogo({ logo: file });
      },
      async uploadLogo(data) {
        this.$store.commit('set', {
          loader: true,
          loadingText: 'Uploading Logo...',
        });

        const formData = new FormData();
        for (let key of Object.keys(data))
          if (data[key]) formData.append(key, data[key]);

        try {
          const res = await this.$axios({
            url: `/logo`,
            method: 'post',
            data: formData,
            headers: {
              Authorization: `Bearer ${this.company.access_token}`,
            },
          });

          this.$store.commit('set', { loader: false, loadingText: '' });
          this.$toastr.s(res.data.message, 'Profile Update');
        } catch (err) {
          this.catchErrors(err);
        }
      },
    },
    mounted() {
      this.user_img = this.$store.state.company.logo || '';
    },
  };
</script>

<style></style>
