<template>
  <div>
    <main v-if="company.loggedIn && !$route.path.includes('404')">
      <!-- BEGIN: Header-->
      <Header :companyData="$store.state.company" />
      <!-- END: Header-->

      <!-- BEGIN: Main Menu-->
      <SideMenu />
      <!-- END: Main Menu-->

      <!-- BEGIN: Content-->
      <router-view />
      <!-- END: Content-->

      <div class="sidenav-overlay"></div>
      <div class="drag-target"></div>
      <!-- BEGIN: Footer-->
      <!-- <Footer /> -->
      <!-- END: Footer-->
    </main>

    <router-view v-else />
    <Loader v-if="loader" />
  </div>
</template>

<script>
  import Vue from 'vue';
  import mixins from '@/plugins/mixins.js';
  import Header from './components/navigation/Header.vue';
  import Footer from './components/navigation/Footer.vue';
  import SideMenu from './components/navigation/SideMenu.vue';
  import Loader from './components/utils/Loader.vue';
  Vue.mixin(mixins);

  export default {
    components: {
      Header,
      Footer,
      SideMenu,
      Loader,
    },
  };
</script>
