<template>
  <div :class="`alert alert-${alert.type} mt-1 alert-validation-msg auth-alert`" role="alert">
    <i
      :class="`feather ${icon} ${alert.message.includes('<br />') ? 'margin15' : 'margin3' } mr-1 align-middle`"
    ></i>
    <span v-html="alert.message"></span>
  </div>
</template>

<script>
export default {
  props: ["alert"],
  computed: {
    icon() {
      return this.alert.type == "info"
        ? "icon-info"
        : this.alert.type == "error"
        ? "icon-alert-circle"
        : this.alert.type == "error"
        ? "icon-check"
        : "icon-alert-triangle";
    }
  },
  mounted() {
    setInterval(() => {
      // this.$emit("dismiss-alert");
    }, 10000);
  }
};
</script>

<style>
.auth-alert {
  margin: 0 !important;
  margin-bottom: 15px;
  position: relative;
  top: -15px;
  display: flex;
}

.margin15 {
  margin-top: 15px;
}

.margin3 {
  margin-top: 3px;
}
</style>
