<template>
  <div class="loading-fullscreen">
    <div class="loading">
      <div class="_box">
        <div class="indicator">
          <!-- <img :src="loader" /> -->
          <div
            class="spinner-border"
            style="width: 3rem; height: 3rem;"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="text">
          {{ $store.state.loadingText || 'Just a moment...' }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        //   loader: require("@/assets/img/loader.svg")
      };
    },
  };
</script>

<style scoped>
  /* .loading-fullscreen {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
} */

  .loading-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(3px);
  }

  .loading {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .loading ._box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 5px;
  }

  .loading .indicator {
    /* width: 10px;
  height: 10px;
  background: #0f95e1;
  background-color: #0356ad;
  border-radius: 50%;
  margin: 0 auto 30px;
  animation: left-right 1s ease-in-out alternate-reverse infinite; */
  }

  .loading .text {
    font-size: 1.3rem;
    /* opacity: 0.5; */
    text-align: center;
    font-weight: 700;
    color: #ff0000;
    color: #0356ad;
  }

  .loading small {
    font-size: 0.9rem;
    opacity: 0.6;
    margin-top: 10px;
    text-align: center;
  }

  @keyframes left-right {
    from {
      transform: translateX(-10px);
    }
    to {
      transform: translateX(10px);
    }
  }

  @media only screen and (min-width: 767px) {
    .loading ._box {
      padding: 20px 5px;
    }
  }
</style>
