<template>
<body
  class="vertical-layout vertical-menu-modern 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page"
  data-open="click"
  data-menu="vertical-menu-modern"
  data-col="1-column"
>
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <section class="row flexbox-container">
          <div class="col-xl-7 col-10 d-flex justify-content-center">
            <div class="card bg-authentication rounded-0 mb-0 w-100">
              <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
                  <img src="@/assets/img/pages/lock-screen.png" alt="branding logo" />
                </div>
                <div class="col-lg-6 col-12 p-0">
                  <div class="card rounded-0 mb-0 px-2 pb-2">
                    <div class="card-header pb-1">
                      <img :src="logo" class="pax-naira-logo" />
                      <div class="card-title">
                        <h4 class="mb-0">Your Session is locked</h4>
                      </div>
                    </div>
                    <div class="card-content">
                      <div class="card-body pt-1">
                        <Alert
                          :alert="alertDetails"
                          v-if="showAlert"
                          :key="componentKey"
                          @dismiss-alert="showAlert = false"
                        />

                        <form @submit.prevent="unlock(auth)" novalidate>
                          <fieldset class="form-label-group position-relative has-icon-left">
                            <input
                              type="text"
                              class="form-control"
                              id="user-name"
                              placeholder="Username"
                              required
                              v-model="auth.username"
                            />
                            <div class="form-control-position">
                              <i class="feather icon-user"></i>
                            </div>
                            <label for="user-name">Username</label>
                          </fieldset>

                          <fieldset class="form-label-group position-relative has-icon-left">
                            <input
                              :type="showPass ? 'text' : 'password'"
                              class="form-control"
                              id="user-password"
                              v-model="auth.password"
                              placeholder="Password"
                              required
                            />
                            <div class="form-control-position">
                              <i class="feather icon-lock"></i>
                            </div>
                            <label for="user-password">Password</label>
                            <i
                              :class="
                                  `feather ${
                                    showPass ? 'icon-eye-off' : 'icon-eye'
                                  } mr-1 align-middle view-pass`
                                "
                              @click="showPass = !showPass"
                            ></i>
                          </fieldset>
                          <router-link to="/login">
                            Are you not
                            <span class="caps">{{ name }}</span>?
                          </router-link>
                          <button
                            type="submit"
                            @click.prevent="unlock(auth)"
                            class="btn btn-primary float-right"
                          >
                            <span
                              class="spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"
                              v-if="loading"
                            ></span>
                            {{ loading ? "Unlocking" : "Unlock" }}
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
</template>

<script>
export default {
  data: () => ({
    auth: {},
    name: "",
  }),
  methods: {
    unlock(user) {
      const { validatePassword, validateName } = this;

      const message = !Object.values(user).length
        ? "Fill in all the required fields"
        : !user.username || user.username.length < 6
        ? "Userame must have 6 characters"
        : !validateName(user.username)
        ? "Enter a valid name"
        : !user.password ||
          user.password.length < 6 ||
          !validatePassword(user.password)
        ? "Password must be alphanumeric and have at least 6 characters"
        : "";

      if (message.length) {
        this.componentKey += 1;
        this.alertDetails = {
          type: "danger",
          message,
        };
        return (this.showAlert = true);
      }

      this.showAlert = false;
      this.login(this.turnToLower(user));
    },
    async login(data) {
      this.loading = true;

      try {
        const res = await this.$axios({
          url: "/login",
          method: "POST",
          data,
        });

        if (this.rememberMe)
          localStorage.setItem(
            "remember_me",
            JSON.stringify({ email: data.email })
          );
        else localStorage.removeItem("remember_me");

        this.loading = false;
        this.$toastr.s("", "Login successful!");
        this.$store.commit("set", { user: { ...res.data.data } });
        localStorage.setItem("user", JSON.stringify(res.data.data));
        this.$router.push({ name: "UserDashboard" });
      } catch (err) {
        this.catchErrors(err);
      }
    },
    async resendMail() {
      const { email } = this.auth;

      if (!email) return;
      this.$store.commit("set", { loader: true });

      try {
        const res = await this.$axios({
          url: `/resend_validation_email`,
          method: "post",
          data: { email },
        });

        this.$store.commit("set", { loader: false });
        this.$toastr.i(res.data.message, "Verification Mail");
        this.$store.commit("set", { new_user: { email } });
        this.$router.push({ name: "VerifyEmail" });
      } catch (err) {
        if (!err.response.data.error) {
          this.catchErrors(err);
        }
      }
    },
  },
  mounted() {
    let locked_user = JSON.parse(localStorage.getItem("auth"));
    if (locked_user) {
      this.rememberMe = true;
      this.auth.username = locked_user.username;
      this.name = locked_user.name;
    }
  },
};
</script>

<style></style>
