<template>
  <body
    class="vertical-layout vertical-menu-modern 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="1-column"
  >
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <section class="row flexbox-container">
            <div class="col-xl-8 col-11 d-flex justify-content-center">
              <div class="card bg-authentication rounded-0 mb-0">
                <div class="row m-0">
                  <div
                    class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0"
                  >
                    <img
                      src="@/assets/img/pages/login.png"
                      alt="branding logo"
                    />
                  </div>
                  <div class="col-lg-6 col-12 p-0">
                    <div class="card rounded-0 mb-0 px-2">
                      <div class="card-header pb-1">
                        <img :src="logo" class="pax-naira-logo" />
                        <div class="card-title">
                          <h4 class="mb-0">Login</h4>
                        </div>
                      </div>
                      <p class="px-2">
                        Welcome back, please login to your account.
                      </p>

                      <div class="card-content">
                        <div class="card-body pt-1">
                          <Alert
                            :alert="alertDetails"
                            v-if="showAlert"
                            :key="componentKey"
                            @dismiss-alert="showAlert = false"
                          />

                          <form
                            novalidate
                            @submit.prevent="validateSubmit(auth)"
                          >
                            <fieldset
                              class="form-label-group form-group position-relative has-icon-left"
                            >
                              <input
                                type="text"
                                class="form-control"
                                id="email"
                                :disabled="loading"
                                placeholder="E-mail Address"
                                v-model="auth.email"
                                required
                              />
                              <div class="form-control-position">
                                <i class="feather icon-user"></i>
                              </div>
                              <label for="email">E-mail Address</label>
                            </fieldset>

                            <fieldset
                              class="form-label-group position-relative has-icon-left"
                            >
                              <input
                                :type="showPass ? 'text' : 'password'"
                                class="form-control"
                                :disabled="loading"
                                v-model="auth.password"
                                id="userpassword"
                                placeholder="Password"
                                required
                              />
                              <div class="form-control-position">
                                <i class="feather icon-lock"></i>
                              </div>
                              <label for="userpassword">Password</label>
                              <i
                                :class="
                                  `feather ${
                                    showPass ? 'icon-eye-off' : 'icon-eye'
                                  } mr-1 align-middle view-pass`
                                "
                                @click="showPass = !showPass"
                              ></i>
                            </fieldset>
                            <div
                              class="form-group d-flex justify-content-between align-items-center"
                            >
                              <div class="text-left">
                                <fieldset class="checkbox">
                                  <div
                                    class="vs-checkbox-con vs-checkbox-primary"
                                  >
                                    <input
                                      type="checkbox"
                                      v-model="rememberMe"
                                    />
                                    <span class="vs-checkbox">
                                      <span class="vs-checkbox--check">
                                        <i
                                          class="vs-icon feather icon-check"
                                        ></i>
                                      </span>
                                    </span>
                                    <span class>Remember me</span>
                                  </div>
                                </fieldset>
                              </div>
                              <div class="text-right">
                                <router-link
                                  to="/forgot-password"
                                  class="card-link"
                                  >Forgot Password?</router-link
                                >
                              </div>
                            </div>
                            <router-link
                              to="/signup"
                              class="btn btn-outline-primary float-left btn-inline"
                              >Sign Up</router-link
                            >
                            <button
                              type="submit"
                              class="btn btn-primary float-right btn-inline"
                            >
                              {{ loading ? 'Logging In' : 'Login' }}
                            </button>
                          </form>
                        </div>
                      </div>
                      <div class="login-footer">
                        <div class="divider">
                          <!-- <div class="divider-text"></div> -->
                        </div>
                        <div class="footer-btn d-inline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- END: Content-->
  </body>
</template>

<script>
  export default {
    data: () => ({
      auth: {},
      rememberMe: false,
      compKey: 0,
      type: '',
    }),
    methods: {
      validateSubmit(user) {
        this.loading = true;
        const { validatePassword, validateEmail, validatePhone } = this;

        const message = !Object.values(user).length
          ? 'Fill in all the required fields'
          : !user.email || !validateEmail(user.email)
          ? 'Please enter a valid email address!'
          : !user.password || !validatePassword(user.password)
          ? 'Password must be alphanumeric and have at least 8 characters'
          : '';

        if (message.length) {
          this.componentKey += 1;
          this.alertDetails = {
            type: 'danger',
            message,
          };
          this.loading = false;
          return (this.showAlert = true);
        }

        this.showAlert = false;
        this.login(this.turnToLower(user));
      },
      async login({ password, email }) {
        try {
          const res = await this.$axios({
            url: '/login',
            method: 'POST',
            data: { company: email, password },
          });

          if (this.rememberMe)
            localStorage.setItem('remember_me', JSON.stringify({ email }));
          else localStorage.removeItem('remember_me');

          const company = {
            ...res.data.data,
          };

          this.$store.commit('set', { company });
          localStorage.setItem('company', JSON.stringify(company));

          this.loading = false;

          this.$toastr.s('', 'Login successful!');
          this.$router.push('/dashboard');
        } catch (err) {
          this.catchErrors(err);
        }
      },
    },
    mounted() {
      let remember_me = JSON.parse(localStorage.getItem('remember_me'));
      if (remember_me) {
        this.rememberMe = true;
        this.auth.email = remember_me.email;
      }
    },
  };
</script>

<style scoped>
  .view-pass {
    position: absolute;
    top: 12px;
    right: 0px;
  }
</style>
