<template>
<body
  class="vertical-layout vertical-menu-modern 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page"
  data-open="click"
  data-menu="vertical-menu-modern"
  data-col="1-column"
>
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <section class="row flexbox-container">
          <div class="col-xl-7 col-10 d-flex justify-content-center">
            <div class="card bg-authentication rounded-0 mb-0 w-100">
              <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none text-center align-self-center p-0">
                  <img
                    src="@/assets/img/pages/reset-password.png"
                    alt="branding logo"
                  />
                </div>
                <div class="col-lg-6 col-12 p-0">
                  <div class="card rounded-0 mb-0 px-2">
                    <div class="card-header pb-1">
                      <img :src="logo" class="pax-naira-logo" />
                      <div class="card-title">
                        <h4 class="mb-0">Reset Password</h4>
                      </div>
                    </div>
                    <p class="px-2">Please enter your new password.</p>
                    <div class="card-content">
                      <div class="card-body pt-1">
                        <Alert
                          :alert="alertDetails"
                          v-if="showAlert"
                          :key="componentKey"
                          @dismiss-alert="showAlert = false"
                        />

                        <form @submit.prevent="validateSubmit(auth)">
                          <fieldset class="form-label-group">
                            <input
                              type="text"
                              class="form-control"
                              id="user-email"
                              placeholder="Email"
                              required
                              v-model="auth.email"
                            />
                            <label for="user-email">Email</label>
                          </fieldset>

                          <fieldset class="form-label-group">
                            <input
                              :type="showPass ? 'text' : 'password'"
                              class="form-control"
                              id="user-password"
                              v-model="auth.password"
                              placeholder="Password"
                              required
                            />
                            <label for="user-password">Password</label>
                            <i
                              :class="
                                  `feather ${
                                    showPass ? 'icon-eye-off' : 'icon-eye'
                                  } mr-1 align-middle view-pass`
                                "
                              @click="showPass = !showPass"
                            ></i>
                          </fieldset>

                          <fieldset class="form-label-group">
                            <input
                              :type="showCPass ? 'text' : 'password'"
                              class="form-control"
                              id="user-confirm-password"
                              v-model="auth.confirm_password"
                              placeholder="Confirm Password"
                              required
                            />
                            <label for="user-confirm-password">Confirm Password</label>
                            <i
                              :class="
                                  `feather ${
                                    showCPass ? 'icon-eye-off' : 'icon-eye'
                                  } mr-1 align-middle view-pass`
                                "
                              @click="showCPass = !showCPass"
                            ></i>
                          </fieldset>
                          <div class="row pt-2">
                            <div class="col-12 col-md-6 mb-1">
                              <router-link
                                to="/login"
                                class="btn btn-outline-primary btn-block px-0"
                              >Go Back to Login</router-link>
                            </div>
                            <div class="col-12 col-md-6 mb-1">
                              <button
                                type="submit"
                                @click.prevent="validateSubmit(auth)"
                                class="btn btn-primary btn-block px-0"
                              >Reset</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
</template>

<script>
export default {
  data: () => ({
    auth: {},
  }),
  methods: {
    validateSubmit(user) {
      const { validateEmail, validatePassword } = this;

      const message = !Object.values(user).length
        ? "Fill in all the required fields"
        : !user.email || !validateEmail(user.email)
        ? "Enter a valid email address"
        : !user.password ||
          user.password.length < 6 ||
          !validatePassword(user.password)
        ? "Password must be alphanumeric and have at least 6 characters"
        : !user.confirm_password || user.password !== user.confirm_password
        ? "Please confirm your new password!"
        : "";

      if (message.length) {
        this.componentKey += 1;
        this.alertDetails = {
          type: "danger",
          message,
        };
        return (this.showAlert = true);
      }

      this.showAlert = false;
      this.resetPassword(this.turnToLower(user));
    },
    resetPassword(data) {
      console.log(data);
    },
  },
};
</script>

<style></style>
