<template>
  <body
    class="vertical-layout vertical-menu-modern 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="1-column"
  >
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <section class="row flexbox-container">
            <div class="col-xl-8 col-10 d-flex justify-content-center">
              <div class="card bg-authentication rounded-0 mb-0">
                <div class="row m-0">
                  <div
                    class="col-lg-6 d-lg-block d-none text-center align-self-center pl-0 pr-3 py-0"
                  >
                    <img
                      src="@/assets/img/pages/register.jpg"
                      alt="branding logo"
                    />
                  </div>
                  <div class="col-lg-6 col-12 p-0">
                    <div class="card rounded-0 mb-0 p-2">
                      <div class="card-header pt-50 pb-1">
                        <img :src="logo" class="pax-naira-logo" />
                        <div class="card-title">
                          <h4 class="mb-0">Create Account</h4>
                        </div>
                      </div>
                      <p class="px-2">
                        Fill the below form to create a new account.
                      </p>
                      <div class="card-content">
                        <div class="card-body pt-0">
                          <Alert
                            :alert="alertDetails"
                            v-if="showAlert"
                            :key="componentKey"
                            @dismiss-alert="showAlert = false"
                          />

                          <form @submit.prevent="validateSubmit(auth)">
                            <div class="form-label-group">
                              <input
                                type="text"
                                :disabled="loading"
                                id="inputName"
                                class="form-control"
                                placeholder="Name of Organization"
                                v-model="auth.company_name"
                                required
                              />
                              <label for="inputName">Name</label>
                            </div>
                            <div class="form-label-group">
                              <input
                                type="email"
                                id="inputEmail"
                                class="form-control"
                                v-model="auth.official_email"
                                :disabled="loading"
                                placeholder="Email - example@gmail.com"
                                required
                              />
                              <label for="inputEmail">Email</label>
                            </div>
                            <div class="form-label-group">
                              <input
                                type="number"
                                class="form-control"
                                v-model="auth.phone_number"
                                placeholder="Phone Number - 09023234545"
                                required
                                :disabled="loading"
                              />
                              <label for="inputEmail">Phone Number</label>
                            </div>
                            <div class="form-label-group">
                              <input
                                type="password"
                                id="inputPassword"
                                class="form-control"
                                placeholder="Password"
                                v-model="auth.password"
                                :disabled="loading"
                                required
                              />
                              <label for="inputPassword">Password</label>
                            </div>
                            <div class="form-label-group">
                              <input
                                type="password"
                                id="inputConfPassword"
                                class="form-control"
                                v-model="auth.confirm_password"
                                :disabled="loading"
                                placeholder="Confirm Password"
                                required
                              />
                              <label for="inputConfPassword"
                                >Confirm Password</label
                              >
                            </div>
                            <div class="form-group row">
                              <div class="col-12">
                                <fieldset class="checkbox">
                                  <div
                                    class="vs-checkbox-con vs-checkbox-primary"
                                  >
                                    <input
                                      type="checkbox"
                                      :disabled="loading"
                                      v-model="terms"
                                    />
                                    <span class="vs-checkbox">
                                      <span class="vs-checkbox--check">
                                        <i
                                          class="vs-icon feather icon-check"
                                        ></i>
                                      </span>
                                    </span>
                                    <span
                                      >I accept the terms & conditions.</span
                                    >
                                  </div>
                                </fieldset>
                              </div>
                            </div>
                            <router-link
                              to="/login"
                              class="btn btn-outline-primary float-left btn-inline mb-50"
                              >Login</router-link
                            >
                            <button
                              type="submit"
                              @click.prevent="validateSubmit(auth)"
                              :disabled="loading"
                              class="btn btn-primary float-right btn-inline mb-50"
                            >
                              <span
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                                v-if="loading"
                              ></span>
                              {{ loading ? 'Registering' : 'Sign up' }}
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</template>

<script>
  export default {
    data: () => ({
      auth: {},
      terms: false,
    }),
    methods: {
      validateSubmit(user) {
        this.loading = true;
        const {
          terms,
          validateEmail,
          validatePassword,
          validateName,
          validatePhone,
        } = this;

        const message = !Object.values(user).length
          ? 'Fill in all the required fields'
          : !user.company_name || user.company_name.length < 6
          ? 'Name of the Organization must have at least 6 characters'
          : !validateName(user.company_name)
          ? 'Enter a valid name'
          : !user.official_email || !validateEmail(user.official_email)
          ? 'Enter a valid email address'
          : !user.phone_number || !validatePhone(user.phone_number)
          ? 'Phone number must have 11 digits'
          : !user.password || !validatePassword(user.password)
          ? 'Password must be alphanumeric and have at least 8 characters'
          : !user.confirm_password || user.password !== user.confirm_password
          ? 'Please confirm your password!'
          : !terms
          ? 'You must agree to the terms of service'
          : '';

        if (message.length) {
          this.componentKey += 1;
          this.alertDetails = {
            type: message.includes('service') ? 'info' : 'danger',
            message,
          };
          this.loading = false;
          return (this.showAlert = true);
        }

        this.showAlert = false;
        this.register(this.turnToLower(user));
      },
      async register(data) {
        try {
          const res = await this.$axios({
            url: '/register',
            method: 'POST',
            data,
          });

          const company = {
            ...res.data.data,
            phone: data.phone_number,
            email: data.official_email,
            name: data.company_name,
            loggedIn: true
          };

          this.$store.commit('set', { company });
          localStorage.setItem('company', JSON.stringify(company));

          this.loading = false;
          this.$toastr.s('', 'Account created successfully!');

          this.$router.push('/company/account');
        } catch (err) {
          this.catchErrors(err);
        }
      },
    },
  };
</script>
