<template>
<body
  class="vertical-layout vertical-menu-modern 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page"
  data-open="click"
  data-menu="vertical-menu-modern"
  data-col="1-column"
>
  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        <section class="row flexbox-container">
          <div class="col-xl-7 col-md-9 col-10 d-flex justify-content-center px-0">
            <div class="card bg-authentication rounded-0 mb-0">
              <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none text-center align-self-center">
                  <img
                    src="@/assets/img/pages/forgot-password.png"
                    alt="branding logo"
                  />
                </div>
                <div class="col-lg-6 col-12 p-0">
                  <div class="card rounded-0 mb-0 px-2 py-1">
                    <div class="card-header pb-1">
                      <img :src="logo" class="pax-naira-logo" />
                      <div class="card-title">
                        <h4 class="mb-0">Verify Email Address</h4>
                      </div>
                    </div>
                    <p class="px-2 mb-0">
                      Please enter the code sent to verify your email address
                      to verify your account
                    </p>
                    <div class="card-content">
                      <div class="card-body">
                        <Alert
                          :alert="alertDetails"
                          v-if="showAlert"
                          :key="componentKey"
                          @dismiss-alert="showAlert = false"
                        />

                        <form @submit.prevent="verify(code)">
                          <div class="form-label-group">
                            <input
                              type="text"
                              id="inputEmail"
                              class="form-control"
                              v-model="code"
                              placeholder="Code"
                            />
                            <label for="inputEmail">Code</label>
                            <a href="Javascript:void(0)" class="resend" @click="resendMail">Resend</a>
                          </div>

                          <div class="float-md-left d-block mb-1">
                            <router-link
                              to="/login"
                              class="btn btn-outline-primary btn-block px-75"
                            >Back to Login</router-link>
                          </div>
                          <div class="float-md-right d-block mb-1">
                            <button
                              type="submit"
                              class="btn btn-primary btn-block px-75"
                              @click.prevent="verify(code)"
                            >Verify Me</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </section>
      </div>
    </div>
  </div>
</body>
</template>

<script>
export default {
  data: () => ({
    code: "",
  }),
  methods: {
    async verify(code) {
      const { email, name, phone, token } = this.$store.state.new_user;
      const message = !code
        ? `Please enter the code sent to ${email}`
        : code.length !== 10
        ? `Please confirm you entered the correct code`
        : "";

      if (message.length) {
        this.componentKey += 1;
        this.alertDetails = {
          type: "danger",
          message,
        };
        return (this.showAlert = true);
      }

      this.showAlert = false;

      this.$store.commit("set", {
        loader: true,
        loadingText: "Verifying account...",
      });

      // run function
      try {
        const res = await this.$axios({
          url: `/validate`,
          method: "post",
          data: { email, code },
        });

        this.$store.commit("set", { loader: false, loadingText: "" });
        this.$toastr.s("Account has been verified!", "Success");
        // this.$store.commit("set", { new_user: {} });

        if (!token) return this.$router.push({ name: "Login" });

        this.$toastr.s(res.data.message, "Login successfull");
        this.$store.commit("set", {
          user: {
            token,
            user_details: {
              email,
              name,
              phone,
            },
          },
        });
        this.$router.push({ name: "UserDashboard" });
      } catch (err) {
        this.catchErrors(err);
      }
    },
    async resendMail() {
      const { email, token } = this.$store.state.new_user;

      if (!email) return;
      this.$store.commit("set", { loader: true });

      try {
        const res = await this.$axios({
          url: `/resend_validation_email`,
          method: "post",
          data: { email },
        });

        this.$store.commit("set", { loader: false });
        this.$toastr.i(res.data.message, "Verification Mail");
      } catch (err) {
        this.catchErrors(err);
      }
    },
  },
};
</script>

<style></style>
